# Mac basura
.DS_Store

# Python temporales
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
.env

# Archivos de datos (opcional)
backend/*.csv

# Logs
backend/app.log
backend/*.log
*.log

# Archivos de entorno (por si acaso)
backend/.env
.env

# Archivos temporales
*.tmp
*.swp
*.swo
.DS_Store
__pycache__/
*.pyc

#Reportes locales básicos
*.Solicitudes.csv

#Revisión de sistemas
check_services_celeron.sh
check_iasesoria_creado_claude_25_feb.sh
